
.cards_img{
    width: 150px;
    border-radius: 50%;
    border:1px solid grey;
    /*  */
}
.cards_info_style{
    transition: width 0.3s;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    /* height: 50px; */
    transition: all 1s ease;
    background-color: #fff;
    border: .5px solid var(--border-color);
} 
.big_font{
    font-size: 50px;
}


