:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --orange2-color: #eeb149;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --School-color-1 : #60b2bf;
  --school-color-2: #d12c5c;
  --school-color-3: #60b2bf;
  --school-color-4: #e6799c;
  --school-color-5: #a585bc;
  --school-color-6: #f7cf28;
  --school-color-7: #488bb3;
  --school-color-8: #3dbbc8;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
/* ::-webkit-scrollbar */
::-webkit-scrollbar-track {
  background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  background-color: var(--orange2-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--orange-color);
}

.page {
  min-height: 100vh;
  background-color: #f1f5f9;
  direction: rtl;
}
/* Start Sidebar  */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
  direction: ltr;
}
.sidebar > h3 {
  margin-bottom: 50px;
  flex-direction: column;
}
.min-logo {
  width: 100px;
  margin: auto;
}
.sidebar > h3::before {
  content: "";
  background-color: var(--blue-color);
  width: 100px;
  height: 3px;
  position: absolute;
  bottom: -20px;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 50%;
}
.sidebar > h3::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -27.5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--orange-color);
  border: 4px solid white;
  transform: translateX(-50%);
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  outline: auto;
  background-color: #f6f6f6;
  outline-color: #f59e0b;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .min-logo {
    width: 40px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar ul li a span {
    display: none;
  }
}
/* End Sidebar  */
/* Start content */
.content {
  overflow: hidden;
}
.content .head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.content .head .search input {
  padding-left: 30px;
  margin-left: 5px;
  width: 160px;
  transition: width 0.3s;
}
.content .head .search input:focus {
  outline: auto;
  outline-color: var(--orange-color);
  width: 200px;
}
.content .head .search input:focus::placeholder {
  opacity: 30%;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--red-color);
  right: -1px;
  top: -2px;
}
.head .icons img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-bottom: 5px;
}
/* End content */
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0075ff;
  left: 0;
  bottom: -10px;
}
.page h1::before {
  width: 130px;
  background-color: #ffffff;

}
.page h1::after {
  width: 40px;
  background-color: black;

}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.content .wrapper .welcome {
  transition: 0.3s;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
  .wrapper h3 {
    margin: auto;
  }
}
.content .wrapper .welcome:hover {
  text-align: center;
  background-color: var(--orange-color);
}
.content .wrapper:hover {
}



/* project Colors  */
/* :root {
    --School-color-1 : #60b2bf;
    --school-color-2: #d12c5c;
    --school-color-3: #60b2bf;
    --school-color-4: #e6799c;
    --school-color-5: #a585bc;
    --school-color-6: #f7cf28;
    --school-color-7: #488bb3;
    --school-color-8: #3dbbc8;
} */
