/* globals */
* {
  /* font-family: 'poppins', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  /* background-color: black; */
}

/* varibels */

/* ============ start sidebar footer */
.sidebar .menu-footer {
  position: sticky;
  bottom: -.5px;
  margin: 0px;
  margin-left: 1px ;
  
  /* mb-5 ms-3 me-3 */
  background-color: var(--sidebar-bg);
  width: 245px;
  margin-bottom: 0;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  transition: all 0.5s ease;
}

/* ============ End sidebar footer */
/* ==================== sidebar ========================== */

.sidebar .sidebar-nav .my-scroll {
  overflow: auto;
  position: relative;
}
.side-container {
  display: inline-block;
  /* display: flex;
  align-items: center;
  width: 100%; */
  /* min-height: 100vh; */
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  transition: all 0.5s ease;
  z-index: 9999;
  color: var();
  border-radius: 15px;
  background-color: var(--sidebar-bg);
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.1);
}
.sidebar.close {
  width: 0px;
}

/* ----------------- logo -------------------- */
.my-head {
  padding: 0px 0px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);

}
/* ----------------- the second menu of sidebar -------------------- */
.my-menu {
  margin-top: -20px;
}
.sidebar.close .my-menu {
  width: 0;
}
.sidebar.close .list-ul {
  display: none;
}
.list-ul::-webkit-scrollbar {
  display: none;
}
.list-ul li a {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 10px 0;
  border-radius: 8px;
  transition: all 0.5s;
}
.list-ul li .sidebar-title {
  display: flex;
  justify-content: safe;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-left: 20px;
}
.list-ul li.active .fa-chevron-down {
  transition: all 0.5s ease;
  transform: rotate(180deg);
}
.list-ul li .fa-chevron-down {
  transition: all 0.5s ease;
  transform: rotate(360deg);
}
.list-ul li .sidebar-title .li-link {
  margin-right: 10px;
  margin-bottom: 5px;
  flex: 1;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
}
.sidebar .list-ul li.active .title-4 {
  background-color: var(--color_light1);
}
.sidebar .list-ul li.active .icon-1 {
  color: var(--sidebar-bg);
}
.list-ul li .sidebar-title .icon-1 {
  min-width: 30px;
  color: var(--color_dark2);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  transition: all 0.5s ease;
}

.list-ul li .sidebar-title:hover .icon-1,
.list-ul li .sidebar-title:hover .menu-name {
  color: var(--orange-color-2);
}
.list-ul li .sidebar-title .menu-name {
  font-size: 18px;
  font-weight:  bold;
  color: var(--color_dark2);
  text-transform: uppercase;
  transition: all 0.5s ease;
  /* text-align: center; */
  flex: 1;
  margin-left: 5px;
}

/* --------------------- submenu --------------------- */
.list-ul li .submenu {
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
.list-ul li.dropdown.active .submenu {
  width: unset;
  height: unset;
  opacity: 1;
  display: flex;
  direction: rtl;
  /* justify-content: end; */
  padding: 5px 6px;
  /* background-color: #8b0985; */
}
.submenu .li-link {
  color: var(--color_dark2);
  width: 200px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 10px;
  transition: all 0.5s ease;
  text-align: center;
  margin: 10px 0px;
  /* border-left: 3px solid var(--border-color); */
  /* border: 0.1px solid var(--border-color); */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--sidebar-bg);
}
.submenu .li-link:hover {
  background-color: var(--orange-color);
  margin-right: 10px;
  color: #fff;
}

/* -------------- submenu clouse -----------------*/

/* ============= resposive / breakpoints    ============= */
@media (max-width: 1080px) {
}
/* for medium devices */
@media (max-width: 774px) {
}
@media (max-width: 560px) {
}
/* for smail devices */
@media (max-width: 360px) {
}
/* .sidebar.active .my-menu > ul > li > a .sidebar-text::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 20%;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #ff0000;
  transform: rotate(45deg);
  z-index: -1;
}
.sidebar.active > ul > li > a:hover .sidebar-text {
  left: 50px;
  opacity: 1;
  visibility: visible;
} */
/* ----------------------  LOGO STYLE ------------------------- */
.logo-img {
  width: 250px;
  padding: 20px 10px;
  /* background-color: gray; */
  transition: all 0.5s ease;
}
.sidebar.close .logo-img {
  position: absolute;
  width: 150px;
  transition: all 0.5s ease;
  transform: rotate(360deg);
  top: -15px;
  left: 50px;
}

.my-menu-btn .sidebar-icon {
  position: absolute;
  right: -14px;
  top: 3.5%;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color_dark2);
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.my-menu-btn .sidebar-icon:hover{
  color: var(--orange-color-2);
}

.sidebar.close .my-menu-btn .sidebar-icon {
  width: 40px;
  height: 40px;
  left: 10px;
  top: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

  
  }
/* -------- start icons styles --------- */
.logo-text {
  font-size: 20px;
  font-weight: bold;
  transition: all .5s ease;
  transform: rotate(360deg);
}
.sidebar.close .logo-text {
  font-size: 0px;
  transform: rotate(180deg);
}
.logo-text-1 {
  font-size: 0px;
  transform: rotate(360deg);
}
.sidebar.close .logo-text-1 {
  font-size: 20px;
  transition: all .5s ease;
  transform: rotate(180deg);
}

/* -------- end icons styles --------- */


.title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 5px;
  border-top: 2px solid var(--border-color);

}
.my-menu-btn {
  cursor: pointer;
}
/* 999999999999999999999999999999999999999999999999999 */
/* 999999999999999999999999999999999999999999999999999 */
/* 999999999999999999999999999999999999999999999999999 */

/* Start content */

.content .head {
  position: fixed;
  z-index: 9998;
  background-color: var(--sidebar-head-bg);
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 0px;
  margin: 0px 0px;
  width: 100%;
  /* position: fixed; */
  /* margin-left: 35%;/ */
  border-radius: 15px;
}
.content .head {
  display: flex;
  align-items: center;
  justify-content: right;

}

.content .head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.content .head .search input {
  padding-left: 30px;
  padding-right: 10px;
  margin-left: 5px;
  width: 150px;
  transition: width 0.3s;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  height: 50px;
  transition: all 1s ease;


}
.content .head .search {
  right: 2%;

}
.content .head .search input:focus {
  outline: auto;
  outline-color: var(--orange-color);
  width: 250px;
  border-radius: 20px;
  border: none;
  transition: all 1s ease;
}
.sidebar.close .logo-img {
  position: absolute;
  width: 150px;
  transition: all 0.5s ease;
  transform: rotate(360deg);
  top: -15px;
  left: 50px;
}

.content .head .search input:focus::placeholder {
  opacity: 30%;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--orange-color-2);
  right: -1px;
  top: -2px;
}
.head .icons {
  margin-right: 10px;
  /* background-color: gray; */
}
.head .icons img {
  width: 50px;
  /* height: 30px; */
  margin-left: 15px;
  margin-bottom: 5px;
  border-radius: 50%;
  border: 2px solid var(--color_dark2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
/* End content */
/* Start section-home style */
.section-home{
}
/* End section-home style */
/* 000000000000000000000000000000 */


/* Start Box  */
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
/* End Box  */
/* Start padding + Margin  */

.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mlr-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mlr-10 {
  margin-left: 10px;
  margin-right: 10px;
}
/* End padding + Margin  */
/* Start font  */
.txt-c {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* End font  */
/* Start Border  */
.rad-6 {
  border-radius: 6px;
}
/* End Border  */