
body {
  /* overflow: hidden; */
  /* background-color: #ced0d2; */
}



/* R$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.my-table {
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  position: absolute;
  left: 20px;
  top: 40px;
  right: 20px;
}

.table-header {
  padding: 20px;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  border-radius: 20px;
}

/* .my-table button {
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  color: #ffffff;
  
}  */

/* td button:nth-child(1){
  background-color: #0298cf;
}

td button:nth-child(2){
  background-color: #f80000;
} */

.table-section {
  height: 100%;
  overflow: auto;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.table-head{
  position: sticky;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #f6f9fc;
  color: #8493a5;
  font-size: 15px;
  padding: 15px;
}

th , td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 5px;
  word-break: break-all;
  text-align: center;
}


td .student-img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 15px;
  border: 5px solid #ced0d2;
}

tr:hover td {
  font-weight: bold;
  color: var(--S-Color-2);
  cursor: pointer;
  background-color: #f6f9fc;
}

::placeholder {
  color: #0298cf;
}

tr:hover img {
  border: none;
}

/* Start table style  */
.th-head-1 {
  width: 50px;
  white-space: nowrap;
}
.th-head-2 {
  width: 100px;
}
.th-head-3 {
  width: 200px;
}
.th-head-4 {
  width: 300px;
}
.th-head-1,.th-head-2,.th-head-3,.th-head-4 {
    color: var(--S-Color-1);
    font-size: 18px;
}
.my-card {
  /* border: 1px solid var(--grey-color); */
  background-color: red;
  margin: 20px;
  padding: 20px;
}
/* end table style  */
.card-info{
  background-color: var(--S-Color-1);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px ;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Start media */
@media (max-width: 670px) {
  .container-title {
    font-size: px;
    margin-top: 0px;
    }
    .table-header .frist-card{
      display: flex;
      flex-direction: column;
    }
    .frist-card .row {
      margin: 0px 0px;
        }
    .frist-card .row .col-1 {
      padding: 0px 0px;
        }
    .second-card{
      margin: 10px 0px;
    }
    .table-header .third-card{
      /* background-color: red; */
    }
    .card-info h4{
      font-size: 18px;
    }
}
