
/* R$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.my-table {
    /* position: absolute; */
    /* top: 50px; */
    margin: 0 40px 0 40px;
}

.table-header {
    margin-top: 120px;
    padding: 20px;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.table-section {
    white-space: nowrap;
    height: 100%;
    overflow: auto;
    margin-top: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--sidebar-bg);
}
.table-head {
    position: sticky;
}
.search2 {
    margin-right: 10px;
    width: 120px;
    transition: width 0.3s;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    height: 50px;
    transition: all 1s ease;
}
.search2:focus {
    outline: auto;
    outline-color: var(--orange-color);
    width: 120px;
    border-radius: 20px;
    border: none;
    transition: all 1s ease;
}
thead th,
thead th button .follow_table {
    top: 0;
    background-color: var(--container-color);
    padding: 10px;
    color: var(--S-Color-1);
    font-weight: bold;
    border: none;
    /* backdrop-filter: blur(1px); */
}
thead th button {
    background-color: transparent;
}
thead th button:hover,
button:hover .icon-arrow {
    color: var(--S-Color-2);
    border-color: var(--S-Color-2);
}
th,td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 5px;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-all;
    /* font-size: 14px; */
}
td {
    /* border-left: 0.03px double var(--border-color); */
}
.mark_table th,
.mark_table td {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}


td .student-img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid #ced0d2;
}
tr:hover td {
    /* font-weight: bold; */
    color: var(--S-Color-2);
    cursor: pointer;
    /* background-color: var(--container-color); */
}
::placeholder {
    color: #0298cf;
}
tr:hover img {
    border: none;
}
/* Start table style  */
.th-head {
    width: 70px;
}
.th-head-1 {
    width: 50px;
}
.th-head-2 {
    width: 100px;
}
.th-head-3 {
    width: 200px;
}
.th-head-4 {
    width: 300px;
}
.my-card {
    margin: 20px;
    padding: 20px;
}
/* end table style  */
.card-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}
.card-info_2 {
    margin-right: 10px;
    width: 120px;
    transition: width 0.3s;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    /* height: 50px; */
    transition: all 1s ease;
    background-color: #fff;
}
.table-section th {
    text-align: center;
}
.table-section tbody td {
}

.card_btn {
    display: inline-block;
    background-color: #007bff;
    border: none;
    position: relative;
    transition: transform 0.3s;
    perspective: 1000px;
}
.card_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: rotateX("-90deg");
    transform-origin: bottom;
    transform: transform 0.3s;
}
.card_btn:hover {
    transform: translateY(3px);
}
.card_btn:hover::before {
    transform: rotateX(0);
} 
.num_table ,
.num_follow_table {
    background-color: var(--S-Color-8);
    color: #fff;
    width: 1px;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid var(--border-color);
}
.stuck{
    position: sticky;
    left: 0;
    z-index: 1;
    width: 150px;
    background-color: var(--S-Color-8);
    color: #fff;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);


}
#check_table_FollowUp {
    overflow-x: auto; 
    display: block; 
    white-space: nowrap;
}

/*  عمواد مائل افقيا */
.static_c {
    writing-mode: vertical-rl;
}

/* START THE CHECK BOX STYLE */

.check_style i {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid var(--o-title-1);
    border-radius: 5px;
    color: #000;
    transition: all 0.2s ease;
    
}
.check_style input[type="checkbox"]:checked ~ i {
    border-radius: 2px;
    border-top: none;
    border-right: none;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.1);
    height: 15px;
    width: 25px;
    transform: rotate(-45deg);
    /* border-radius: 0; */
    border-color: var(--green-color);
}
.check_style input[type="checkbox"] {
    -webkit-appearance: none;
    
}
/* END THE CHECK BOX STYLE */
.num_rows {
    border-color: var(--grey-color);
    border-radius: 5px;
    color: var(--color_blue);
}

/* +++++ check if this class used or no */
.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    border: 1.4px solid var(--S-Color-1);
    margin: 0 4px;
}
th button.active .icon-arrow {
    transform: rotate(180deg);
}
.icon_arrow_test {
    border-left: 1px solid;
    border-top: 1px solid;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon_arrow_test_down {
    border-left: 1px solid;
    border-top: 1px solid;
    width: 7px;
    height: 7px;
    transform: rotate(225deg);
}
.table_test
/* delet this class from your pages */
{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    /* justify-content: space-between; */
}
.n_rect{
    background-color: var(--color_blue);
    border-radius: 20px;
    padding: 5px 15PX;
}
.td_rect {
    background-color:var(--container-color) ;
    border: 0.5px solid var(--border-color);
    padding: 10px 0;
    border-radius: 15px;
}
tbody tr:hover .td_rect {
    background-color: var(--sidebar-bg);
    /* border: none; */
}
tbody tr:hover .num_table {
    color: #000;
}

.sections_rows{
    
}
/* links and nuber of rows style */
.links{

}
.rows_style{
}
.sm_rows_botton{
    padding: 10px;
}
.next_text{
    font-size: 10px;
    }
.table-section{
    margin-top: -5px;
}
/* #f6f9fc the td color */


.absent-checkbox {
    position: relative;
    cursor: pointer;
    background-color: #fff;
    border: 3px solid var(--green-color); 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; 
    color: transparent;
    box-shadow: 0 4px 8px rgba(160, 226, 217, 0.2); 
    transition: all 0.5s; 
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
@keyframes bounce_checked {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-8px);
    }
    60% {
        transform: translateX(-3px);
    }
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:not(:checked) + .absent-checkbox {
    color: var(--o-title-1); 
    border-color: var(--o-title-1); 
    animation: bounce_checked 1s infinite;
    transform: scale(1.2); 
}
input[type="checkbox"]:not(:checked) + .absent-checkbox:before {
    content: '✖'; 
}
input[type="checkbox"]:checked  + .absent-checkbox:before {
    content: '✔'; 
    color: var(--green-color); /
}
.absent-checkbox:hover {
    border-color: var(--color_blue); 
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3); 
    animation: shake 0.5s; 
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}
@keyframes shakeX {
    0% { transform: translateY(0); }
    25% { transform: translateY(-3px); }
    50% { transform: translateY(3px); }
    75% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
}


.border-lr{
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}