.toggle_section {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    margin-bottom: 15px;
}

.container {
    text-align: center;
    transition: all 1s ease;

}

.toggle_section:hover .toggle_img {
    max-width: 70%;
    border-radius: 50px;
    /* outline: auto; */
    /* outline-color: var(--orange-color); */
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
    transition: all 2s ease;
    animation: shakeX 0.5s;
    /* animation:  0.5s; */
}

.toggle_img {
    max-width: 65%;
    margin-top: 70px;
    height: auto;
    z-index: 9999;
    transition: all 2s ease;
}

.toggle_section:hover .title-5 {
    transition: all 1s ease;
    padding: 0;
    margin: 0;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition: all 2s ease;
}




/* home icons style */


.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
}

.icon {
    width: 3vw;
    height: auto;
    animation: move 1s infinite alternate;
    z-index: -1;
    
    position: absolute;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
/* toggle page */
.user_name{
    width: auto;
    position: sticky;
    background-color: #fff;
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.1); 
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
    border-radius: 15px 0px 0px 0;
}

body[dir="rtl"] .user_name{
    border-radius: 0px 15px 0px 0;
}