<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student</title>
    <link rel="stylesheet" href="../../../public/css/all.min.css">
    <link rel="stylesheet" href="../../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../public/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="../../../public/css/framework.css">
    <!-- <link rel="stylesheet" href="../../css/master.css"> -->
</head>
<body>
    <!-- <header>
        <?php
            include('../head.html');
        ?>
    </header> -->
    <main class="main ">
        <section class="section ">
            <h1 data-text="اضافة موظف" class="p-relative title-1">اضافة موظف</h1>

            <!-- Start personal info  --> 
            <h3 class="container-tilte">emb info</h3>
            <div class="container containers-style" >
                <div class="row"> 
                    <!-- 1 -->
                    <div class="box col-lg-6 col-md-12">
                        <label for="emb-name-a">emb name in english </label>
                        <input type="text" class="form-control " id='emb-name-a' required placeholder="in english">
                    </div> 
                    <div class="box col-lg-6 col-md-12">
                        <label for="emb-name-e">emb name in arabic </label>
                        <input type="text" class="form-control " id='emb-name-e' required placeholder="in arabic">
                    </div> 
                    <!-- 2 -->
                    <div class="box col-lg-6 col-md-12 ">
                        <label for="photo">Photo</label>
                        <input type="file" class="form-control " id="photo" placeholder="Obtional">
                    </div>
                    <!-- 3 -->
                    <div class="box col-lg-6 col-md-6 ">
                        <label for="sex">sex</label>
                        <select class="col form-select form-control" id="sex"> 
                            <option  value="">male</option>
                            <option  value="">female</option>
                            </select>
                    </div>
                    <!-- 4 -->
                    <div class="box col-lg-6 col-md-6 ">
                        <label for="age">birthdate</label>
                        <input type="date" class="form-control" id="age" >
                    </div>
                    <!-- 5 -->
                    <div class="box col-lg-6 col-md-6 ">
                        <label for="e-qualificatiion">Qualificatiion</label>
                        <select class="col form-select form-control" id="e-qualificatiion"> 
                            <option  value="">high school</option>
                            <option  value="">diploma</option>
                            <option  value="">bachelor's degree</option>
                        </select>
                    </div>
                    <!-- 6 -->
                    <div class="box col-lg-6 col-md-6">
                        <label for="e-number">phone number</label>
                                <input type="number" class="col form-control ms-2 me-2" id='e-number' placeholder="phone number" min="769999999" max="789999999">
                    </div>
                    <!-- 7 -->
                    <div class="box row">
                        <label for="">address</label>
                        <div class="col-lg-6 col-md-6 ">
                            <span class=" title-3 ">stage address arabic </span>
                            <input type="text" class=" form-control ms-2 me-2" id='address' required placeholder="arabic">
                        </div>
                        <div class="col-lg-6 col-md-6 ">
                            <span class=" title-3 " >stage address english </span>
                            <input type="text" class=" form-control ms-2 me-2" id='address' required placeholder="english">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End personal info  -->
            <!-- Start functional info  -->
            <h3 class="container-tilte">functional data</h3>
            <div class="container containers-style">
                <div class="row"> 
                    <!-- 1 -->
                    <div class="box col-lg-6 col-md-12 ">
                        <label for="e-jop">type of job</label>
                        <select class="col form-select form-control" id="e-jop"> 
                            <option  value="1">secretarial</option>
                            <option  value="2">control</option>
                            <option  value="3">student affairs</option>
                            <option  value="4">personnel affairs</option>
                            <option  value="5">accountant</option>
                            <option  value="6">guard</option>
                            <option  value="7">gardener</option>
                            <option  value="8">cleaner</option>
                        </select>
                    </div>
                    <!-- 2 -->

                    <div class="box  col-lg-6 col-md-12">
                        <label for="e-salary">salary</label>
                        <input type="number" class="form-control" id='e-salary' placeholder="in dollars $">
                    </div>
                    <!-- 5 -->
                    <!-- start permanence -->
                    <div class="box mb-0  col-12">
                        <label class="col-12" for="e-permanence">permanence</label>
                    </div> 
                    <div class="box  col-lg-6 col-md-6 col-sm-6">
                        <label class="col " >FROM</label>
                        <input type="time" class=" col- form-control  " id='e-permanence' placeholder="the end of time" >
                    </div> 
                    <div class="box  col-lg-6 col-md-6 col-sm-6 ">
                        <label class="col" >TO</label>
                        <input type="time" class=" form-control  col-4" id='e-permanence' placeholder="the beginning of permanence ">
                    </div> 
                    <!-- end permanence -->
                </div>
            </div>
                <!-- End functional info  -->
            <!-- Start final box -->
            <h3 class="container-tilte">other info</h3>
            <div class="container containers-style">
                    <div class="row"> 
                        <div class="notes  col-lg-12 col-md-12">
                            <label class="form-label " for="stdNote">NOTE:</label>
                            <textarea class="form-control " id="stdNote" id="" cols="50" rows="5"></textarea>
                        </div>
                    </div>
            </div>
            <div class=" row">
                <div class="box col-8 ">
                    <input class="save-button " type="submit" value="Save " >
                    <input class="clear-button " type="reset" value="clear" >
                </div>
            </div>
            <!-- End final box -->
        </div>
    </main>
</body>

</html>