<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new class</title>
    <!-- <link rel="stylesheet" href="../../../public/css/framework.css"> -->
    <link rel="stylesheet" href="../../../public/css/login-signup-style.css">
</head>
<body>
    <section class="section">
        <div class="imgBx">
            <img src="../../../public/assets/images/layouts/1.jpg" alt="">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>sign up</h2>
                <form action="">

                    <div class="inputBx">
                        <span>Username</span>
                        <input class="form-control" type="text" name="">
                    </div>
                    
                    <div class="inputBx">
                        <span>Old password</span>
                        <input type="password" name="">
                    </div>
                    <div class="inputBx">
                        <span>New Password</span>
                        <input type="password" name="">
                    </div>
                    <div class="inputBx">
                        <span>Re-Enter New Password</span>
                        <input type="password" name="">
                    </div>
                    
                    <div class="inputBx">
                        <span>Email</span>
                        <input type="email" name="">
                    </div>
                    <!-- <div class="remember">
                        <label for=""><input type="checkbox" name=""> Remember me</label>
                    </div> -->
                    
                    <div class="inputBx">
                        <input type="submit" value="Sign" name="">
                    </div>

                    <!-- <div class="inputBx">
                        <p>Don't have an account? <a href="sign up.html">SignUp</a></p>
                    </div> -->
                </form>
                <h3>Login with social media</h3>
                <ul class="sci">
                    <li><a href="https://m.facebook.com/login/?locale=ar_AR&refsrc=deprecated">
                        <img src="../../../public/assets/images/layouts/f.jpg" alt=""></a></li>
                    <li><a href="https://web.whatsapp.com">
                        <img src="../../../public/assets/images/layouts/w.jpg"  alt=""></a></li>
                    <li><a href="https://www.instagram.com/accounts/login/?hl=ar">
                        <img src="../../../public/assets/images/layouts/insta.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </section>
    
</body> 



</html>

