/* @import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900); */

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}
body {
    background-color: #5b6677;
}
.font-container {
    width: 100%;
    min-height: 100vh;
}
.my-sidebar {
    position: relative;
    width: 256px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 24px;
    border-radius: 30px;
    transition: all .3s;
}
.my-sidebar .my-header {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-radius: 1px solid #f6f6f6;
}
.user-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}
.user-img img {
    width: 100%;
    object-fit: cover;
}
.users-details .my-title,
.my-menu .my-title {
    font-size: 10px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.users-details .main-title {
    font-size: 14px;
    font-weight: 500;
}
.my-nav {
    flex: 1;
}
.my-menu ul li {
    position: relative;
    list-style: none;
    margin-bottom: 5px ;
}
.my-menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
}
.my-menu ul li > a:hover, .my-menu ul li.active > a {
    color: #000;
    background-color: #5b6677;
     /* background-color: #f6f6f6; */
}
.my-menu ul li .icon {
    font-size: 20px;
}
.my-menu ul li .sections-title {
    flex: 1;
}
.my-menu ul li .arrow {
    font-size: 14px;
    transition: all 0.3s;
}
.my-menu ul li.active .arrow {
    transform: rotate(180deg);
}
.my-menu .my-sub-menu {
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;
}
.my-menu .my-sub-menu li a {
    padding: 10px 8px;
    font-size: 12px;
}
.my-menu:not(:last-child) {
    padding-bottom: 10px ;
    margin-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;
}
.menu-btn {
    position: absolute;
    right: -14px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6;
    background-color: #fff;
}
.menu-btn:hover i {
    color: #000;
}
.menu-btn i {
    transition: all 0.3s;
}
.my-sidebar.active {
    width: 92px;
}
.my-sidebar.active .menu-btn{
    transform: rotate(180deg);
}
.my-sidebar.active .users-details {
    display: none;
}
.my-sidebar.active .my-menu .my-title {
    text-align: center;
}
.my-sidebar.active .my-menu ul il .arrow {
    display: none;
}
.my-sidebar.active .my-menu > ul > li > a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-sidebar.active .my-menu > ul > li > a .sections-title {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translate(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.my-sidebar.active .my-menu > ul > li > a .sections-title::after {
    contain: "";
    position: absolute;
    left: -5px;
    top: 20px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
}
.my-sidebar.active .my-menu > ul > li > a:hover .sections-title {
    left: 50px;
    opacity: 1;
    visibility: visible;
}
.my-sidebar.active .my-menu .my-sub-menu {
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}
